
extends layout

block append vars
  - bodyclass = 'article-detail'

block prepend title
  | #{ page.title + ' - '}

block content
  .post
    block header
      header.post-header
        include author
        h1.post-title= page.title
        p.post-meta
          span= moment.utc(page.date).format('MMMM DD, YYYY')
          | #{ 'Written by ' }
          mixin author(page.metadata.author)

  article.article
    section.content!= typogr(page.html).typogrify()
